<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OAHeader</key>
		<string>打开设置后立即收到消息</string>
		<key>OAFooter</key>
		<string></string>
		<key>OAItems</key>
		<array>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_ssq</string>
			</dict>
			<dict>
				<key>title</key>
				<string>大乐透</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_dlt</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3D</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_3d</string>
			</dict>
			<dict>
				<key>title</key>
				<string>七乐彩</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_qlc</string>
			</dict>
			<dict>
				<key>title</key>
				<string>七星彩</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_qxc</string>
			</dict>
			<dict>
				<key>title</key>
				<string>排列3</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_pl3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>排列5</string>
				<key>OAAccessoryType</key>
				<string>UISwitch</string>
				<key>OASubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>OACellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>OAKeyName</key>
				<string>push1_pl5</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
